
spawn-sh-at-startup "systemd-cat -t sunshine -- sunshine"
spawn-sh-at-startup "systemd-cat -t noctalia-shell -- noctalia-shell"

input {
  keyboard {
    xkb {
      layout "us,th"
      options "grp:alt_shift_toggle"
    }
    // Enable numlock on startup, omitting this setting disables it.
    numlock
  }

  touchpad {
    // off
    tap
    // dwt
    // dwtp
    // drag false
    // drag-lock
    natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-method "two-finger"
    // disabled-on-external-mouse
  }

  // Uncomment this to make the mouse warp to the center of newly focused windows.
  warp-mouse-to-focus

  // Focus windows and outputs automatically when moving the mouse into them.
  focus-follows-mouse max-scroll-amount="95%"
}

output "HDMI-A-1" {
  mode "1920x1080@120.000"
  transform "normal"
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout
layout {
  // Set gaps around windows in logical pixels.
  gaps 0

  // When to center a column when changing focus, options are:
  // - "never", default behavior, focusing an off-screen column will keep at the left
  //   or right edge of the screen.
  // - "always", the focused column will always be centered.
  // - "on-overflow", focusing a column will center it if it doesn't fit
  //   together with the previously focused column.
  center-focused-column "never"

  preset-column-widths {
    proportion 0.5
    proportion 0.66667
    proportion 0.33333
  }
  preset-window-heights {
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }

  // You can change the default width of the new windows.
  default-column-width { proportion 0.5; }
  // If you leave the brackets empty, the windows themselves will decide their initial width.
  // default-column-width {}

  focus-ring {
    off
  }
  border {
    width 4
    active-gradient from="#8aadf4" to="#7dc4e4" angle=0
    inactive-color "#363a4f"
    urgent-color "#f38ba8"
  }
  shadow {
    // on
    // draw-behind-window true
    softness 30
    spread 5
    offset x=0 y=5
    color "#0007"
  }
}
overview {
  backdrop-color "#181825"
}

hotkey-overlay {
  skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/screenshots/screenshot %Y-%m-%d %H-%M-%S.png"

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules
// Open the Firefox picture-in-picture player as floating by default.
window-rule {
  // This app-id regular expression will work for both:
  // - host Firefox (app-id is "firefox")
  // - Flatpak Firefox (app-id is "org.mozilla.firefox")
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}
window-rule {
  match title=r#"Touhou Hisoutensoku"#
  open-floating true
  default-window-height { proportion 1.0; }
  default-column-width { proportion 0.75; }
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#
  block-out-from "screen-capture"
  // Use this instead if you want them visible on third-party screenshot tools.
  // block-out-from "screencast"
}

binds {
  Mod+Comma { show-hotkey-overlay; }
  Mod+Return hotkey-overlay-title="Open a Terminal" { spawn "kitty"; }
  Mod+Space hotkey-overlay-title="Run an Application" { spawn-sh "noctalia-shell ipc call launcher toggle"; }
  Mod+L hotkey-overlay-title="Session menu" { spawn-sh "noctalia-shell ipc call sessionMenu toggle"; }

  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
  XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
  XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
  XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
  XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
  XF86MonBrightnessUp  allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

  // Open/close the Overview: a zoomed-out view of workspaces and windows.
  // You can also move the mouse into the top-left hot corner,
  // or do a four-finger swipe up on a touchpad.
  Mod+Period repeat=false { toggle-overview; }
  Mod+Q      repeat=false { close-window; }

  Mod+Left  { focus-column-left; }
  Mod+Right { focus-column-right; }
  Mod+Down  { focus-window-or-workspace-down; }
  Mod+Up    { focus-window-or-workspace-up; }

  Mod+Ctrl+Down  { consume-window-into-column; }
  Mod+Ctrl+Right    { expel-window-from-column; }
  Mod+Ctrl+Left  { switch-preset-column-width; }
  Mod+Ctrl+Up { switch-preset-window-height; }

  Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
  Mod+shift+Up    { move-window-up-or-to-workspace-up; }
  Mod+Shift+Left  { move-column-left; }
  Mod+Shift+Right { move-column-right; }

  // idc but whatever
  Mod+Home       { focus-column-first; }
  Mod+End        { focus-column-last; }
  Mod+Shift+Home { move-column-to-first; }
  Mod+Shift+End  { move-column-to-last; }
  Mod+Page_Down  { focus-workspace-down; }
  Mod+Page_Up    { focus-workspace-up; }

  Mod+Shift+Page_Up   { move-column-to-workspace-up; }
  Mod+Shift+Page_Down { move-column-to-workspace-down; }
  Mod+Ctrl+Page_Down  { move-workspace-down; }
  Mod+Ctrl+Page_Up    { move-workspace-up; }

  Mod+WheelScrollDown       cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp         cooldown-ms=150 { focus-workspace-up; }
  Mod+Alt+WheelScrollDown   cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Alt+WheelScrollUp     cooldown-ms=150 { move-column-to-workspace-up; }
  Mod+Ctrl+WheelScrollDown  cooldown-ms=150 { focus-column-right; }
  Mod+Ctrl+WheelScrollUp    cooldown-ms=150 { focus-column-left; }
  Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-right; }
  Mod+Shift+WheelScrollUp   cooldown-ms=150 { move-column-left; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  Mod+Shift+Slash { maximize-column; }
  Mod+Ctrl+Slash { center-visible-columns; }
  Mod+Slash { expand-column-to-available-width; }
  Mod+F { fullscreen-window; }
  Mod+C { center-column; }
  Mod+Alt+Left { set-column-width "-10%"; }
  Mod+Alt+Right { set-column-width "+10%"; }
  Mod+Alt+Up { set-window-height "-10%"; }
  Mod+Alt+Down { set-window-height "+10%"; }

  // Move the focused window between the floating and the tiling layout.
  Mod+Ctrl+Space { toggle-window-floating; }
  Mod+Alt+Space { switch-focus-between-floating-and-tiling; }

  // Toggle tabbed column display mode.
  // Windows in this column will appear as vertical tabs,
  // rather than stacked on top of each other.
  // Mod+Tab { toggle-column-tabbed-display; }

  // Actions to switch layouts.
  // Note: if you uncomment these, make sure you do NOT have
  // a matching layout switch hotkey configured in xkb options above.
  // Having both at once on the same hotkey will break the switching,
  // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
  // Mod+Space       { switch-layout "next"; }
  // Mod+Shift+Space { switch-layout "prev"; }

  Mod+P hotkey-overlay-title="screenshot" { screenshot; }
  Mod+Shift+P hotkey-overlay-title="screenshot screen" { screenshot-screen; }
  Mod+Ctrl+P hotkey-overlay-title="screenshot window" { screenshot-window; }
  Mod+R hotkey-overlay-title="record" { spawn-sh "noctalia-shell ipc call plugin:screen-recorder toggle"; }

  // Applications such as remote-desktop clients and software KVM switches may
  // request that niri stops processing the keyboard shortcuts defined here
  // so they may, for example, forward the key presses as-is to a remote machine.
  // It's a good idea to bind an escape hatch to toggle the inhibitor,
  // so a buggy application can't hold your session hostage.
  //
  // The allow-inhibiting=false property can be applied to other binds as well,
  // which ensures niri always processes them, even when an inhibitor is active.
  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // The quit action will show a confirmation dialog to avoid accidental exits.
  Mod+Shift+E { quit; }
  Ctrl+Alt+Delete { quit; }
}
